<!-- src/app/pages/informacion/informacion.component.html -->
<div class="informacion-container">
  <div class="imagen-izquierda">
    <img src="assets/img/informacion/12746450.jpg" alt="Imagen izquierda" />
  </div>

  <div class="contenido-texto">
    <h2>Información del Investigador</h2>
    <p><strong>Investigador:</strong> Carlos Mauricio Rosero Galindez</p>
    <p><strong>Cargo:</strong> Docente Ocasional Tiempo Completo</p>
    <p><strong>Escuela:</strong> ECBTI – CCAV Pasto</p>
    <p><strong>Grupo de investigación:</strong> Davinci</p>
    <p><strong>Semillero de investigación:</strong> GIA</p>
    <p><strong>Proyecto:</strong> “CONSTRUCCIÓN DE CONCEPTOS EN MATEMÁTICA A TRAVÉS DE SITUACIONES COTIDIANAS: INDUSTRIA, INNOVACIÓN E INFRAESTRUCTURA EN TORNO A LA INTELIGENCIA ARTIFICIAL”</p>
    <p><strong>Código:</strong> PSI1101ECBTI2023</p>
  </div>

  <div class="imagenes-derecha">
    <img src="assets/img/informacion/UNAD.png" alt="Imagen derecha 1" />
    <img src="assets/img/informacion/GIA.png" alt="Imagen derecha 2" />
  </div>
</div>
