.sidenav-container {
    height: 100vh;
  }
  
  .sidenav {
    width: 250px;
    background-color: #005883;
    color: #F0B429;
  }
  
  .main-content {
    padding: 20px;
  }
  
  mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  mat-toolbar.span{
    font-size: 2px;
  }
  
  .mat-nav-list a:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.393);
  }

  .mat-nav-list a {
    color: #F0B429;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    transition: transform 0.2s ease-in-out;
  }

  ::ng-deep .mat-list-item.menu-link {
    color: #F0B429 !important;
  }
  
  ::ng-deep .mat-list-item.menu-link .mat-line {
    color: #F0B429 !important;
  }
  
  ::ng-deep .mat-list-item.menu-link:hover .mat-line {
    color: #FFD700 !important;
  }
  
  ::ng-deep .mat-list-item.menu-link.active .mat-line {
    color: #FFFFFF !important;
  }
  

  .menu-link {
    color: #F0B429 !important; 
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  
    &:hover {
      color: #FFD700; // Color al pasar el mouse
    }
  
    &.active {
      color: #FFFFFF; // Color cuando está activo el enlace
    }
  }
  
  





  .custom-nav-list a {
    color: white;
    text-align: left;
    justify-content: flex-start;
    width: 100%;
    padding-left: 16px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: none;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .custom-nav-list a:hover {
    background-color: rgba(240, 180, 41, 0.3);
    transform: scale(1.03);
  }
  
  .custom-nav-list a.active {
    background-color: #F0B429;
    
    color: #ffffff;
  }
  
  

  