<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="'navigation'"
      [mode]="isHandset ? 'over' : 'side'"
      [opened]="!isHandset"
    >
      <mat-toolbar color="primary" class="menu-lateral-titulo">
        <mat-icon>menu</mat-icon>
        <span>Menú</span>
      </mat-toolbar>

      
      <mat-nav-list class="custom-nav-list">
        <a mat-button routerLink="/inicio" routerLinkActive="active">Inicio</a>
        <a mat-button routerLink="/funciones" routerLinkActive="active">Funciones</a>
        <a mat-button routerLink="/limites" routerLinkActive="active">Límites y Continuidad</a>
        <a mat-button routerLink="/derivadas" routerLinkActive="active">Derivadas</a>
        <a mat-button routerLink="/aplicacion-derivadas" routerLinkActive="active">Aplicación de Derivadas</a>
        <a mat-button routerLink="/informacion" routerLinkActive="active">Información</a>
      </mat-nav-list>
      
      
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="encabezado-proyecto">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset"
        >
          <mat-icon>menu</mat-icon>
        </button>

        <!-- Logo a la izquierda -->
        <img src="assets/img/inicio/Encabezado.png" alt="Logo Proyecto" class="logo-proyecto" />

        <!-- Título centrado/derecha -->
        <div class="titulo-proyecto">
          <h1>
            Proyecto:<br />
            <span>SIMULADOR WEB INTERACTIVO PARA EL APRENDIZAJE DE CALCULO DIFERENCIAL POTENCIADO POR IA</span>
          </h1>
        </div>
      </mat-toolbar>

  
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  