<!-- ia-chat-container.component.html -->
<div class="chat-container-buttons">
  <button class="ia-button gemini" (click)="abrir('gemini')">Gemini</button>
  <button class="ia-button symbolab" (click)="abrir('symbolab')">Symbolab</button>
  <button class="ia-button wolfram" (click)="abrir('wolfram')">Wolfram</button>
</div>

<app-ia-chat-widget
  #geminiWidget
  *ngIf="mostrar.gemini"
  title="Gemini"
  [iaType]="'gemini'"
  color="#2196f3"
  minimizedLabel="Gemini"
  (close)="cerrar('gemini')">
</app-ia-chat-widget>

<app-ia-chat-widget
  #symbolabWidget
  *ngIf="mostrar.symbolab"
  title="Symbolab"
  [iaType]="'symbolab'"
  color="#f44336"
  minimizedLabel="Symbolab"
  (close)="cerrar('symbolab')">
</app-ia-chat-widget>

<app-ia-chat-widget
  #wolframWidget
  *ngIf="mostrar.wolfram"
  title="Wolfram Alpha"
  [iaType]="'wolfram'"
  color="#ff9800"
  minimizedLabel="Wolfram"
  (close)="cerrar('wolfram')">
</app-ia-chat-widget>
