
.chat-container-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 9999;

  .ia-button {
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .gemini {
    background-color: #2196f3;
    &:hover {
      background-color: #0b77ad;
    }
  }


  .symbolab {
    background-color: #e02f22;
    &:hover {
      background-color: #bc1212;
    }
  }

  .wolfram {
    background-color: #ff9800;
    &:hover {
      background-color: #c18912;
    }
  }
}
