<!-- src/app/pages/inicio/inicio.component.html -->
<div class="inicio-container">
  <div class="contenido-texto">
    <h1 class="titulo">"CONSTRUCCIÓN DE CONCEPTOS EN MATEMÁTICA A TRAVÉS DE SITUACIONES COTIDIANAS: INDUSTRIA, INNOVACIÓN E INFRAESTRUCTURA EN TORNO A LA INTELIGENCIA ARTIFICIAL",</h1>

    <p class="proyecto">
      Proyecto de investigación (Convocatoria 11, cohorte 1 de 2022):<br />
    </p>

    <p class="codigo">Código: <strong>PSI1101ECBTI2023</strong></p>

    <p>
        Este simulador interactivo de Cálculo Diferencial es uno de los productos del proyecto de investigación <strong>"CONSTRUCCIÓN DE CONCEPTOS EN MATEMÁTICA A TRAVÉS DE SITUACIONES COTIDIANAS: INDUSTRIA, INNOVACIÓN E INFRAESTRUCTURA EN TORNO A LA INTELIGENCIA ARTIFICIAL"</strong>, y ha sido desarrollado con el fin de transformar la experiencia de aprendizaje, especialmente si te has sentido frustrado por la complejidad de los métodos tradicionales. 
    </p>

    <p>
        Un diagnóstico inicial reveló que el 35% de los estudiantes de la UNAD reprobaban los cursos de matemáticas, lo que nos impulsó a buscar soluciones innovadoras. Conscientes de que la deserción en estas materias puede ser alta debido a la dificultad para comprender los ejercicios, hemos integrado lo último en Inteligencia Artificial (IA) para facilitarte la solución de problemas. 
    </p>

    <p>
        Aquí encontrarás ejercicios variados y contextualizados, presentados en diversos formatos como ecuaciones, texto y gráficos, que podrás resolver con el apoyo de herramientas de IA como <strong>Symbolab, Wolfram Alpha y Gemini.</strong> Estas herramientas no solo te ayudarán a comprobar los resultados de los ejercicios disponibles en el simulador, sino que también a aplicar los procedimientos correctos, y las gráficas correspondientes, simplificando el proceso de aprendizaje.
    </p>
  </div>

  <div class="imagenes">
    <img src="assets/img/inicio/UNAD.png" alt="Ilustración 1" />
    <img src="assets/img/inicio/WOLGFRAM-ALPHA.png" alt="Ilustración 2" />
    <img src="assets/img/inicio/Gemini.png" alt="Ilustración 3" />
    <img src="assets/img/inicio/SYMBOLAB.png" alt="Ilustración 4" />
  </div>
</div>

