<!-- ia-chat-widget.component.html -->
<div
  class="chat-box"
  cdkDrag
  cdkDragBoundary="body"
  (mousedown)="bringToFront()"
  [ngStyle]="{ borderColor: color, zIndex: zIndex }"
>
  <div class="chat-header" [ngStyle]="{ backgroundColor: color }" cdkDragHandle>
    <span>{{ title }}</span>
    <button class="close-button" (click)="cerrar()">−</button>
  </div>

  <div class="chat-body">
    <div class="mensaje" *ngFor="let msg of mensajes">
      <div class="emisor" [ngClass]="msg.emisor">
        <!--<ng-container *ngIf="!msg.esImagen; else imagen">
          {{ msg.texto }}
        </ng-container>-->
        <ng-container *ngIf="!msg.esImagen && !msg.texto.startsWith('http'); else imagen">
         <!--{{ msg.texto }}-->
          <div *ngIf="iaType === 'gemini'; else textoPlano" [innerHTML]="msg.texto"></div>
          <ng-template #textoPlano>{{ msg.texto }}</ng-template>
        </ng-container>

        <a *ngIf="msg.texto.startsWith('http')" [href]="msg.texto" target="_blank">
        </a>

        <ng-template #imagen>
          <img
            [src]="sanitizeUrl(msg.texto)"
            *ngIf="msg.texto"
            alt="Respuesta de IA"
            class="imagen-respuesta"
          />
        </ng-template>
      </div>
    </div>

    <!-- Mostrar Symbolab solo si es el tipo de IA -->
    <ng-container *ngIf="iaType === 'symbolab'">
      <div class="symbolab-container">
        <!--iframe de la calculadora de geometria de symbolab
        <iframe
          id="symbolab-calculator"
          src="https://www.symbolab.com/calculator_widget2/construction/circle_footage_cost_calculator"
          width="100%"
          height="450"
          frameborder="0"
          style="border: 0; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);"
        ></iframe>-->

        <!--iframe de la calculadora de derivadas de symbolab
        <iframe 
          id="symbolab-derivative" 
          src="https://www.symbolab.com/calculator_widget2/derivatives" 
          width="100%" 
          height="480" 
          frameborder="0" 
          style="border: 0; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);">
        </iframe>-->

        
      </div>
    </ng-container>
  </div>

  <div class="chat-input">
    <textarea
      [(ngModel)]="mensaje"
      class="input"
      placeholder="Escribe tu pregunta..."
    ></textarea>
    <button (click)="enviarMensaje()" class="btn-enviar">Enviar</button>
  </div>
</div>
