<div
  class="chat-box"
  cdkDrag
  cdkDragBoundary="body"
  (mousedown)="bringToFront()"
  [ngStyle]="{
    borderColor: color,
    zIndex: zIndex
  }"
>
  <div class="chat-header" [ngStyle]="{ backgroundColor: color }" cdkDragHandle>
    <span>{{ title }}</span>
    <button class="close-button" (click)="cerrar()">−</button>
  </div>

  <div class="chat-body">
    <textarea class="input" placeholder="Escribe tu pregunta..."></textarea>
    <div class="respuesta">Aquí va la respuesta de la IA.</div>
  </div>
</div>
